body
{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}
header
{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
    z-index: 10;
}
header .logobox
{
    position: relative;
    width: auto;
    padding: 0 40px;
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
header .menubox
{
    position: relative;
    width: auto;
    padding: 0 40px;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 40px;
    justify-content: center;
    align-content: center;
}
.menu_link
{
    position: relative;
    text-decoration: none;
    color: black;
}
header .menubar
{
    position: relative;
    width: auto;
    padding: 0 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    display: none;
}
header .menubar svg
{
    position: relative;
    width: 25px;
    height: 25px;
    fill: black;
}
header .menuboxmedia
{
    position: relative;
    width: 150px;
    padding: 10px 10px;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    justify-content: flex-start;
    display: none;
}
.home
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(51, 51, 51);
    background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-size: cover;
    color: black;
    display: grid;
    justify-content: flex-end;
    align-content: flex-end;
}
.home .main_content
{
    position: relative;
    width: auto;
    height: auto;
    padding: 40px 20px;
    font-size: 1.2rem;
    text-align: end;
    display: grid;
    justify-content: flex-end;
    align-content: center;
}
.home .main_content h1
{
    position: relative;
    margin: 0;
    font-size: 5rem;
    font-weight: normal;
    line-height: 70px;
    text-align: end;
}
.home .main_content a
{
    position: relative;
    text-decoration-color: tomato;
    color: tomato;
    font-size: 1.4rem;
}
.menu_header
{
    position: relative;
    width: 100%;
    height: 550px;
    padding-top:70px;
    display: grid;
    grid-template-columns: 20% 30% 22%;
    grid-gap: 20px;
    justify-content: center;
}
.menu_header .imgbox1,.menu_header .imgbox2
{
    position: relative;
    width: auto;
    height: 100%;
    display: grid;
    align-content: flex-start;
}
.menu_header .imgbox1 img,.menu_header .imgbox2 img
{
    position: relative;
    width: 100%;
    height: 400px;
}
.menu_header .imgbox2
{
    align-content: flex-end;
}
.menu_header .menu_content
{
    position: relative;
    width: auto;
    height: 100%;
    font-size: 1.1rem;
    display: grid;
    align-content: flex-start;
}
.menu_header .menu_content h1
{
    position: relative;
    font-size: 5rem;
    font-family: serif;
    margin: 0;
    margin-bottom: 70px;
}
.menu_header .menu_content a
{
    position: relative;
    text-decoration-color: tomato;
    color: tomato;
    font-size: 1.2rem;
}
.menu_header .background_block1
{
    position: absolute;
    width: 60%;
    height: 200px;
    background-color: yellow;
}
.menu_header .background_block2
{
    position: absolute;
    width: 20%;
    height: 70px;
    bottom: 15%;
    left: 30%;
    background-color: black;
}
.menu_header .background_block3
{
    position: absolute;
    width: 40%;
    height: 150px;
    right: 0;
    bottom: 0;
    background-color: orangered;
}
.tutorial
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 80px 0;
    background-color: rgb(51, 51, 51);
    background-image: url(https://images.unsplash.com/photo-1511690743698-d9d85f2fbf38?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=edgar-castrejon-4Q_xlBOaCso-unsplash.jpg);
    background-size: cover;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}
.tutorial h1
{
    position: relative;
    margin: 0;
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    color: orangered;
    grid-column: 1/4;
}
.tutorial p
{
    position: relative;
    width: 50%;
    margin: 20px auto;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    grid-column: 1/4;
}
.tutorial .cource_card
{
    position: relative;
    padding: 50px 20px;
    background-color: white;
}
.tutorial .cource_card h1
{
    position: relative;
    padding-left: 50px;
    font-size: 6rem;
    font-family: serif;
    text-align: unset;
}
.tutorial .cource_card h2
{
    position: relative;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}
.tutorial .cource_card p
{
    position: relative;
    width: unset;
    font-size: 1rem;
    color: black;
    text-align: start;
    margin: 20px 0;
}
.tutorial .cource_card a
{
    position: relative;
    text-decoration-color: tomato;
    color: tomato;
    font-size: 1.3rem;
}
.products 
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}
.products .background_block1
{
    position: absolute;
    width: 50%;
    height: 55%;
    right: 0;
    background-color: yellow;
}
.products .background_block2
{
    position: absolute;
    width: 50%;
    height: 45%;
    bottom: 0;
    background-color: orangered;
}
.products h1
{
    position: relative;
    margin: 0;
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    grid-column: 1/4;
}
.products p
{
    position: relative;
    width: 50%;
    margin: 10px auto;
    font-size: 1.1rem;
    text-align: center;
    grid-column: 1/4;
}
.products .imgbox
{
    margin-bottom: 100px;
}
.products .imgbox img
{
    position: relative;
    width: 100%;
    height: 400px;
}
.products .farm_product h2
{
    position: relative;
    font-family: serif;
    font-size: 2.5rem;
    color: orangered;
}
.products .farm_product p
{
    position: relative;
    font-size: 1rem;
    margin: 10px 0;
    text-align: start;
}
.products .farm_product a
{
    position: relative;
    text-decoration-color: tomato;
    color: tomato;
    font-size: 1.2rem;
}
.contact
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
    color: white;
    background-color: black;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    justify-content: center;
}
.contact h1
{
    position: relative;
    margin: 10px;
    font-size: 3rem;
    color: orangered;
    font-weight: normal;
    text-align: center;
}
.contact .media_icons
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}
.contact .media_icons svg
{
    position: relative;
    width: 30px;
    height: 30px;
    fill: white;
}







@media only screen and (max-width:765px)
{
    header
    {
        height: auto;
        padding: 10px 0;
    }
    header .logobox
    {
        padding: 0 10px;
        justify-content: flex-start;
    }
    header .menubox
    {
        display: none;
    }
    header .menubar
    {
        display: grid;
    }
    header .menuboxmedia
    {
        display: grid;
        margin-top: -200%;
    }
    .home .main_content
    {
        width: 90%;
        margin: auto;
        padding: 80px 0;
        font-size: 1rem;
    }
    .home .main_content h1
    {
        font-size: 2.7rem;
        line-height: 50px;
    }
    .menu_header
    {
        height: auto;
        padding: 10px 0;
        grid-template-columns: auto;
        justify-content: unset;
    }
    .menu_header .imgbox1,.menu_header .imgbox2
    {
        position: relative;
        width: 80%;
        height: auto;
        margin: auto;
    }
    .menu_header .imgbox1 img,.menu_header .imgbox2 img
    {
        height: 400px;
    }
    .menu_header .menu_content
    {
        width: 90%;
        height: auto;
        margin: auto;
        padding-bottom: 120px;
    }
    .menu_header .background_block1
    {
        width: 95%;
        top: 350px;
    }
    .menu_header .background_block2
    {
        width: 60%;
        top: 60%;
        left: 5%;
    }
    .menu_header .background_block3
    {
        width: 95%;
    }
    .tutorial
    {
        padding: 30px 0;
        grid-template-columns: auto;
        justify-content: unset;
    }
    .tutorial h1
    {
        font-size: 2.5rem;
        grid-column: unset;
    }
    .tutorial p
    {
        width: 80%;
        grid-column: unset;
    }
    .tutorial .cource_card
    {
        position: relative;
        width: 90%;
        margin: auto;
        padding: 50px 10px;
    }
    .products
    {
        padding: 30px 0;
        grid-template-columns: auto;
        justify-content: unset;
    }
    .products h1
    {
        font-size: 2.5rem;
        grid-column: unset;
    }
    .products p
    {
        width: 80%;
        grid-column: unset;
    }
    .products .imgbox
    {
        position: relative;
        width: 90%;
        margin: auto;
    }
    .products .farm_product
    {
        width: 90%;
        margin: auto;
    }
    .products .farm_product h2
    {
        font-size: 2rem;
        color: black;
    }
    .products .farm_product a
    {
        text-decoration-color: white;
        color: white;
    }
    .contact h1
    {
        font-size: 2.5rem;
    }
}